<header>
  <img src="<%= relative_url '/images/logo.svg' %>" alt="Logo" />
</header>

<nav>
  <ul>
    <li><a class="hover:text-green-600" rel="canonical" href="<%= relative_url '/' %>">Home</a></li>
    <li><a class="hover:text-green-600" rel="canonical" href="<%= relative_url '/about' %>">About</a></li>
    <li><a rel="canonical" href="<%= relative_url '/posts' %>">Posts</a></li>
  </ul>
</nav>
