<div class="bg-backgound-primary p-6 rounded-xl shadow-md relative">
  <div class="text-gray-500">
    <i class="fa-solid fa-quote-left text-gray-500"></i>
  </div>
  <p class="px-4">
    <%= @text %>
  </p>
  <div class="text-right">
    <i class="fa-solid fa-quote-right text-gray-500"></i>
  </div>
  <p class="mt-4 text-right text-gray-600"><%= @author %></p>
</div>
