/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    font-family: "Noto Serif", sans-serif;
    font-style: italic;
  }
  h2 {
    font-family: "Open Sans", sans-serif;
  }
  h3 {
    @apply text-lg;
  }
}

html {
  scroll-behavior: smooth;
}
/* Increase specificity for language-specific styles */
html body:lang(en) {
  font-family: "Nunito Sans", sans-serif;
}

html body:lang(el) {
  font-family: "Noto Sans", sans-serif;
}

::selection {
  background: #f07948;
}

a {
  transition: all 0.3s;
}
