/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    font-family: "Noto Serif", sans-serif;
    font-style: italic;
    @apply text-5xl;
  }
  h2 {
    font-family: "Open Sans", sans-serif;
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

body:lang(en) {
  font-family: "Nunito Sans", sans-serif;
}

body:lang(gr) {
  font-family: "Noto Sans", sans-serif;
}

::selection {
  background: #f07948;
}
