<section class="relative space-y-xl lg:flex items-center">
    <div class="right-0 aspect-h-2 aspect-w-3 overflow-hidden lg:aspect-w-6 lg:absolute lg:w-1/4 lg:pr-4 xl:pr-16 shadow-2xl">
        <img src="/images/helen.png" alt="" class="max-h-full max-w-full object-cover object-center rounded-2xl shadow-2xl">
    </div>

    <div class="max-w-2xl px-4 lg:pt-16 sm:pb-32 lg:grid lg:max-w-[1400px] lg:grid-cols-8 lg:gap-x-4 lg:px-8">
        <div class="space-y-4 bg-backgound-primary p-8 rounded-2xl col-span-5">
            <h3 class="font-medium text-header-dark text-2xl">
                <%= t("about.hero_header").html_safe %>
            </h3>
            <p class="text-gray-500">
                <%= t("about.hero").html_safe %>
            </p>
        </div>
    </div>
</section>
